<div class="container-fluid card login-container">
    <h3 class="text-center">Create a new account</h3>
    <hr>

    <div *ngIf="erorMsg && erorMsg.length" class="alert alert-danger" role="alert">
        <p *ngFor="let item of erorMsg; let i = index">{{ item }}</p>
    </div>

    <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input id="firstname" type="text" class="form-control" placeholder="First Name" [(ngModel)]="registerRequest.firstName">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input id="lastname" type="text" class="form-control" placeholder="Last Name" [(ngModel)]="registerRequest.lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input id="email" type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="registerRequest.email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="registerRequest.password">
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" type="button" class="btn btn-primary d-flex align-items-center">
            <mat-icon>send</mat-icon>&nbsp; Register
        </button>
    </div>
    <div (click)="signup()">
        Already have an account? &nbsp;
        <button type="button" class="btn btn-link">Signup</button>
    </div>
</div>
